 
.intro-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    margin-bottom: 20px; 
    text-align: center;
    color: #ff00009b; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
}

.intro-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em; 
    line-height: 1.8; 
    text-align: justify; 
    margin: 0 20px; 
    color: #555; 
     padding: 20px; 
    border-radius: 10px; 
 }

.content {
    padding: 40px; 
}

.grid {
    max-width: 800px; 
    margin: auto; 
}

.grid-1 {
    width: 98%;
    margin: auto;
}
